---
title: "Menu | iDesign Site Demo"
description: "Meta description for the page"
permalink: "/menu/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/menu.css">
    <script src="/assets/js/menu.js" defer></script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1014">
    <div class="cs-container">
        <picture class="cs-picture">
            <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffancy-divider.svg" alt="divider" width="181" height="36" aria-hidden="true">
        </picture>
        <span class="cs-int-title">Menu</span>
        <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Ftable.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Ftable.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Ftable.jpg" alt="breakfast" width="1920" height="1000">
    </picture>
</div>   

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1034">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">
                Welcome!
                <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/ornament2.svg" decoding="async" alt="graphic" width="210" height="24">
            </span>
            <h2 class="cs-title">Stop in for a <br> Luxury Experience</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <a href="" class="cs-button-solid">Reserve Your Table</a>
            <div class="cs-spotlight">
                <img class="cs-image" aria-hidden="true" src="/assets/images/lisa.jpg" decoding="async" alt="graphic" width="154" height="154">
                <div class="cs-flex">
                    <span class="cs-name">Lisa Everett</span>
                    <span class="cs-job">Owner</span>
                    <p class="cs-flex-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                </div>
            </div>
        </div>
        <div class="cs-image-group">
            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/top-rated.svg" decoding="async" alt="icon" width="116" height="124">
            <span class="cs-tagline">Featured Holiday Cocktail</span>
            <h2 class="cs-h2">Christmas Berry Blast</h2>
            <p class="cs-desc">
                Lorem ipsum dolor sit amet, consectetur
            </p>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/menu/xmas-cocktail.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/menu/xmas-cocktail.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/menu/xmas-cocktail.jpg" alt="cocktail" width="1280" height="568">
            </picture>
        </div>
    </div>
    <!--Background image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/menu/crepe-1.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/menu/crepe-2.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/chef7.jpg" alt="chef" width="1290" height="1029">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Menu Group                  -->
<!-- ============================================ -->

<div id="cs-menu-group-1037">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-icon-wrapper">
                <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffancy-divider.svg" alt="divider" width="181" height="36" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Victuals</h2>
            <div class="cs-button-group">
                <button class="cs-button cs-active" data-filter="one" onclick="window.location.href='#cs-menu-group';">
                    Crepes
                </button>
                <button class="cs-button" data-filter="two" onclick="window.location.href='#cs-menu-group';">
                    Cocktails
                </button>
            </div>
        </div>
        <!--Crepes-->
        <div id="cs-menu1-1037" class="cs-menu-group" data-category="one">
            <!--Breakfast Section 1-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/menu/crepe-1.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/menu/crepe-1.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/menu/crepe-1.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Crepe #1</span>
                                    <span class="cs-price">
                                        $6
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/menu/crepe-2.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/menu/crepe-2.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/menu/crepe-2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Crepe #2</span>
                                    <span class="cs-price">
                                        $6
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/menu/crepe-3.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/menu/crepe-3.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/menu/crepe-3.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Crepe #3</span>
                                    <span class="cs-price">
                                        $9
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/menu/crepe-4.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/menu/crepe-4.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/menu/crepe-4.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Crepe #4</span>
                                    <span class="cs-price">
                                        $9
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/menu/crepe-5.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/menu/crepe-5.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/menu/crepe-5.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Special Crepe</span>
                                    <span class="cs-price">
                                        $12
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/menu/crepe-6.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/menu/crepe-6.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/menu/crepe-6.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Jumbo Crepe</span>
                                    <span class="cs-price">
                                        $12
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--Cocktails-->
        <div id="cs-menu2-1037" class="cs-menu-group" data-category="two">
            <!--Lunch Section 1-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/menu/cocktail-1.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/menu/cocktail-1.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/menu/cocktail-1.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Cocktail #1</span>
                                    <span class="cs-price">
                                        $6
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/menu/cocktail-2.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/menu/cocktail-2.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/menu/cocktail-2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Cocktail #2</span>
                                    <span class="cs-price">
                                        $6
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/menu/cocktail-3.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/menu/cocktail-3.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/menu/cocktail-3.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Cocktail #3</span>
                                    <span class="cs-price">
                                        $9
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/menu/cocktail-4.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/menu/cocktail-4.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/menu/cocktail-4.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Cocktail #4</span>
                                    <span class="cs-price">
                                        $9
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/menu/cocktail-5.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/menu/cocktail-5.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/menu/cocktail-5.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Special Cocktail</span>
                                    <span class="cs-price">
                                        $12
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/menu/cocktail-6.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/menu/cocktail-6.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/menu/cocktail-6.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Old Fashioned</span>
                                    <span class="cs-price">
                                        $12
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--Dinner-->
        <div id="cs-menu3-1037" class="cs-menu-group" data-category="three">
            <!--Dinner Section 1-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Dinner</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--Desserts-->
        <div id="cs-menu4-1037" class="cs-menu-group" data-category="four">
            <!--Desserts Section 1-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Dessert</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--Appetizers-->
        <div id="cs-menu5-1037" class="cs-menu-group" data-category="five">
            <!--Desserts Section 1-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Appetizer</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Purple Corn Tostada</span>
                                    <span class="cs-price">
                                        $56
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <a href="" class="cs-button-solid">Reserve Your Table</a>
    </div>
</div>
                                
                                

    {% include 'sections/map.html' %}

{% endblock %}